<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Olasılık Dönem Ödevi">
    <meta name="keywords" content="Mod, Medyan, Artimektik Ortalama, ">
    <meta name="author" content="Fatih ATEŞ, Erdoğan TURPCU, Ebru YAŞAR">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Node modülleri // Başlangıç -->
    <link href="/node_static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/node_static/animate.css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/node_static/hover.css/css/hover-min.css" rel="stylesheet" type="text/css">
    <link href="/node_static/@fortawesome/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="/node_static/@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet" type="text/css">
    <link href="/node_static/@fortawesome/fontawesome-free/css/regular.css" rel="stylesheet" type="text/css">
    <link href="/node_static/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet" type="text/css">
    <!-- <base href="http://localhost:3000/">-->
    <!-- Node modülleri // Son -->
    <!-- Static modüller // Başlangıç -->
    <link rel="stylesheet" type="text/css" href="/static/css/login-util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/master.css">
    <!-- Static modüller // Başlangıç -->
    <link rel="stylesheet" type="text/css" href="/static/css/login-man.css">

    <title>
      <%- title %>
    </title>
    <!-- Static modüller // Son -->
  </head>
  <body>
    <header id="index-header" class="animated fadeIn shadow-lg position-relative z-index-99">
      <div class="<%- page == 'sonuc' ? 'bg-success':'' %> col-md-12 justify-content-center d-flex align-items-center text-center p-4" style="background-color: <%- page == 'how-to-work' ? 'darkmagenta':'rebeccapurple' %>">
        <h1 class="mb-0 h1 text-light">

          <% if(page != 'sonuc'){ %>
            Hemen şimdi
            <%- page == 'how-to-work' ? 'kullanmaya başla!':'nasıl çalıştığını öğrenin!' %>
          <% } else{ %>
            <%- page == 'sonuc' ? 'Bravo! İşlem tamam.':'' %>
          <% } %>
        </h1>
        <% if(page != 'sonuc'){ %>
        <a class="ml-5 mt-0" href="<%- page == 'how-to-work' ? '/':'/how-to-work' %>"><i class="fas fa-angle-double-right fa-3x mt-0 hvr-wobble-horizontal " style="margin-top: 5px!important;color:#ffe484"></i></a>
        <% } %>
      </div>

      <nav class="col-md-12 justify-content-center text-center d-flex navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-light" href="/">Olasılık ve İstatistik</a>
        <div class="btn btn-outline-secondary menu-icon-container" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0">
          <ul class="navbar-nav mr-auto text-center">
            <li class="ml-1 <%- page == 'index' ? 'active nav-active bg-light rounded rounded-sm':'hvr-underline-from-left' %> nav-item">
              <a class="nav-link <%- page == 'index' ? 'text-dark':'text-white' %>" href="/">Başla <span class="sr-only">(current)</span></a>
            </li>
            <li class="ml-1 <%- page == 'how-to-work' ? 'active nav-active bg-light rounded rounded-sm':'hvr-underline-from-left' %> nav-item">
              <a class="nav-link <%- page == 'how-to-work' ? 'text-dark':'text-light' %>" href="/how-to-work">Nasıl Çalışır ?</a>
            </li>
            <li class="ml-1 <%- page == 'contact' ? 'active nav-active bg-light rounded rounded-sm':'hvr-underline-from-left' %> nav-item">
              <a class="nav-link <%- page == 'contact' ? 'text-dark':'text-light' %>" href="/contact"  aria-disabled="true">Bize Ulaşın</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
